@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
	--color-general:#142231;
	--color-secundario:#2A3B4C;
}

body{
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	color: var(--color-general)
}

header{
	background-color: transparent;
	padding: 5px 0px;
	position: absolute;
	top:0;
	width: 100%;
	
}

#hero{
	background-image: url("../img/bannerhero.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 20% 0% 20%;
	color: #fff;
}

.title-hero{
	font-size: 60px;
	font-weight: 600;
	font-family: "Manrope", sans-serif;
	padding-top: 5%;
}

.texto-xs{
	font-size: 16px;
}

.texto-mediano{
	font-size: 24px;
	font-weight: 400;
}

.btn-primary{
	background-color: transparent;
	border-color: #fff;
	font-size: 14px;
	padding: 10px 40px;
	border-radius: 15px;
	font-weight: 800;
}


.btn-primary:hover{
	background-color: #fff;
	color: var(--color-secundario);
	border-color: #fff;
}

.btn-secundary{
	background-color: var(--color-secundario);
	color: #fff;
	border-color: var(--color-secundario);
	font-size: 18px;
	padding: 15px 45px;
	border-radius: 15px;
	font-weight: 800;
}


.btn-secundary:hover{
	background-color: #fff;
	color: var(--color-secundario);
	border-color: var(--color-secundario);
}

.section{
	padding: 5% 0%;
}

#ingredientes{
	text-align: center;
}

.carousel-item img{
  height: 800px;
  object-fit: cover; 
}

.texto-negrita{
	font-weight: 800;
}

.title-subscripciones{
	font-size: 50px;
	font-weight: 800;
	font-family: "Manrope", sans-serif;
	padding-top: 1%;
}

#footer{
    background-color: var(--color-general);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-icons a{
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}

.social-icons a:hover{
    color: #fff;
}

.copyright{
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

.carousel-item h1{
	font-size: 80px;
	font-family: "Manrope", sans-serif;
	font-weight: 700;
	color: #fff;
}

.carousel-item p{
	font-size: 20px;
	font-family: "Manrope", sans-serif;
	font-style: italic;
	font-weight: 400;
}

#form{
	background-color: var(--color-secundario);
	color: #fff;
}

.section-subscripciones{
	padding: 0% 0% 5%;
}